.footer{
    width: 100% ;
    background: #000;
    padding-top: 20px;
    position: relative;
    left: 0;
    bottom: 0;
}
.footer__table{
    width: 100%;
    height: 100%;
}
.footer th{
    width: 100%;
    height: 100%;
}
.footer tr{
    margin-top: 2%;
    margin-bottom: 5%;
}
.footer__bottomRow img{
    width:30px;
}
.footer__links{
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.footer__text{
    color:aliceblue;
}
.footer__textLast{
    margin-bottom: 20px;
}
.footer__textFirst{
    margin-bottom: 20px;
}