
.home{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__container{
    padding-top: 50px;
}

.home__container h2{
    text-align: center;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__row1{
    display: flex;
    z-index: 1;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}